<%-include("header")-%>

<div class="box" id="heading">
    <h1>ABOUT</h1>
    
</div>

<div class="box">
    <h2>Name : Abhishek Chouhan</h2>
    <h2>Contact : 345666645</h2>
</div>

<%-include("footer")-%>